@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&display=swap');

:root {
  font-family: fredoka;
  font-weight: 300;
}

h2, h3 {
  font-weight: 400;
}





html, body {
  height: 100%;
  width: 100%; 
}